.page {
  max-width: var(--page-width);
  border-radius: var(--border-radius);
  background-color: var(--color-primary-translucent);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5rem var(--color-shadow);
  margin: var(--page-margin);
  text-wrap: balance;

  main {
    display: grid;
    gap: 3rem;
    padding: var(--main-padding);
    grid-template-columns: var(--app-grid);
  }
}

.mainCard:nth-child(4) {
  grid-column: span var(--experience-span);
}
