.company {
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--color-primary-translucent);
}

.companyHeading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  h3 {
    font-size: var(--font-h3);
    color: var(--color-accent-secondary);
  }
}

.companyHeadingDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-accent-tertiary);

  :nth-child(4) {
    color: var(--color-accent-secondary);
  }
}
