.education {
  display: grid;
  grid-template-columns: var(--education-grid);
  gap: 2rem;
}

.schoolName {
  color: var(--color-accent-gold);
}

.schoolLevel {
  color: var(--color-accent-teal);
}

.schoolYears {
  text-wrap: nowrap;
}
