.education {
  display: grid;
  grid-template-columns: var(--education-grid);
  row-gap: var(--education-gap);

  span {
    align-self: center;
  }
}

.schoolName {
  color: var(--color-accent-secondary);
}
