.header {
  padding: var(--header-padding);
  background-color: var(--color-primary-translucent);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: relative;

  h1 {
    font-size: var(--font-h1);
    color: var(--color-accent-darkyellow);
  }
  a {
    color: var(--color-accent-lightblue);
    @media print {
      text-decoration: none;
    }
  }
  a:visited {
    color: var(--color-accent-pink);
  }
}

.themeButton {
  all: unset;
  cursor: pointer;
  font-size: 200%;
  position: absolute;
  padding: 1rem;
  top: 0;
  right: 0;
}
