.jobList {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 1rem;
}

.jobCard {
  background-color: var(--sub-card-bg);
  padding: var(--job-card-padding);

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.jobHeading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.jobHeadingDetails {
  color: var(--color-accent-pink);
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul {
    padding-left: 3rem;
  }

  li {
    padding: 0.25rem;
    font-weight: lighter;
    &::marker {
      color: var(--color-accent-teal);
    }
  }
}
