.skillsGrid {
  column-count: var(--skill-column-count);
}

.skillBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  break-inside: avoid;
  margin-bottom: 1rem;

  h4 {
    color: var(--color-accent-secondary);
  }
}
