/*css reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

:root {
  /*This defines what 1rem is. To convert from pixel to rem, divide by 10. Aka 32px=3.2rem.*/
  font-size: 62.5%;

  --font-family: "Cascadia Code", "Courier New";
  --font-text: 1.5rem;
  --font-h4: 2rem;
  --font-h3: 2.5rem;
  --font-h2: 3rem;
  --font-h1: 3.5rem;

  --color-text: white;
  --color-shadow: black;
  --color-primary: black; /*not used directly, only for mixing.*/
  --color-primary-25: color-mix(in srgb, var(--color-primary), transparent 25%);
  --color-primary-50: color-mix(in srgb, var(--color-primary), transparent 50%);
  --color-primary-75: color-mix(in srgb, var(--color-primary), transparent 75%);

  /* accent colors obtained from default vs code theme */
  --color-accent-pink: #da70d6;
  --color-accent-darkyellow: #ffd700;
  --color-accent-gold: #d7ba7d;
  --color-accent-lightyellow: #dcdcaa;
  --color-accent-salmon: #ce9178;
  --color-accent-lightblue: #9cdcfe;
  --color-accent-yellowgreen: #b5cea8;
  --color-accent-teal: #4ec9b0;

  --border-radius: 2rem;

  :has(.lightMode) {
    /*this class is set on the header component*/
    /* overwrite certain values */
    --color-text: black;
    --color-shadow: gray;
    --color-primary-25: silver;
    --color-primary-75: rgba(255, 255, 255, 0.75);

    --color-accent-pink: brown;
    --color-accent-darkyellow: black;
    --color-accent-gold: brown;
    --color-accent-lightyellow: brown;
    --color-accent-salmon: forestgreen;
    --color-accent-lightblue: navy;
    --color-accent-yellowgreen: black;
    --color-accent-teal: navy;
  }
}

body {
  font-size: var(--font-text);
  font-family: var(--font-family);
  background-color: var(--color-primary-25);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

h1 {
  font-size: var(--font-h1);
  color: var(--color-accent-darkyellow);
}

h2 {
  /* about/eductation/skills/experience */
  font-size: var(--font-h2);
  margin-bottom: 1rem;
  color: var(--color-accent-lightblue);
}

h3 {
  font-size: var(--font-h3);
  color: var(--color-accent-yellowgreen);
}

h4 {
  font-size: var(--font-h4);
  color: var(--color-accent-lightyellow);
}

ul {
  padding-left: 3rem;
}

.page {
  max-width: 100rem;
  border-radius: var(--border-radius);
  background-color: var(--color-primary-75);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5rem var(--color-shadow);
  margin: 3rem;
}

.header {
  padding: 5rem;
  background-color: var(--color-primary-75);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
}

.headerDetails {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    all: unset;
    cursor: pointer;
    font-size: 200%;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.mainSection {
  background-color: var(--color-primary-75);
  border-radius: var(--border-radius);
  padding: 2rem;
  box-shadow: 0 0 1rem var(--color-shadow);
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem;
  background-color: var(--color-primary-75);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  a {
    color: var(--color-accent-lightblue);
  }
  a:visited {
    color: var(--color-accent-pink);
  }
}

.footerLinks {
  display: flex;
  gap: 1rem;
}

.skillsGrid {
  display: flex;
  justify-content: space-between;
}

.skillsColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company {
  background-color: var(--color-primary-75);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.companyHeading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.companyHeadingDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-accent-salmon);
}

.jobHeading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.jobHeadingDetails {
  color: var(--color-accent-pink);
}

.jobList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.job {
  background-color: var(--color-primary-75);
  padding: 1rem;

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

li {
  padding: 0.25rem;
  font-weight: lighter;
  &::marker {
    color: var(--color-accent-teal);
  }
}

.education {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 1fr;
  gap: 2rem;

  .schoolName {
    color: var(--color-accent-gold);
  }

  .schoolLevel {
    color: var(--color-accent-teal);
  }
}
