/*css reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

:root {
  /*This defines what 1rem is. To convert from pixel to rem, divide by 10. Aka 32px=3.2rem.*/
  font-size: 62.5%;

  --font-family: "Cascadia Code", "Courier New";
  --font-text: 1.5rem;
  --font-h4: 2rem;
  --font-h3: 2.5rem;
  --font-h2: 3rem;
  --font-h1: 3.5rem;

  --color-text: white;
  --color-shadow: black;
  --color-primary: black; /*not used directly, only for mixing.*/
  --color-backround: color-mix(in srgb, var(--color-primary), transparent 25%);
  --color-primary-translucent: color-mix(
    in srgb,
    var(--color-primary),
    transparent 75%
  );

  /* accent colors obtained from default vs code theme */
  --color-accent-pink: #da70d6;
  --color-accent-darkyellow: #ffd700;
  --color-accent-gold: #d7ba7d;
  --color-accent-lightyellow: #dcdcaa;
  --color-accent-salmon: #ce9178;
  --color-accent-lightblue: #9cdcfe;
  --color-accent-yellowgreen: #b5cea8;
  --color-accent-teal: #4ec9b0;

  --border-radius: 2rem;

  :has(.lightMode) {
    /*this class is set on the header component*/
    /* overwrite certain values */
    --color-text: black;
    --color-shadow: gray;
    --color-primary: #c8c8c8; /*not used directly, only for mixing.*/
    --color-backround: white;
    --color-primary-translucent: color-mix(
      in srgb,
      var(--color-primary),
      transparent 75%
    );

    --color-accent-pink: brown;
    --color-accent-darkyellow: #3c3c3c;
    --color-accent-gold: brown;
    --color-accent-lightyellow: brown;
    --color-accent-salmon: darkgreen;
    --color-accent-lightblue: navy;
    --color-accent-yellowgreen: #3c3c3c;
    --color-accent-teal: navy;
  }

  --flex-direction: column;
  --grid-template-columns: 1fr;
  --experience-span: 1;
  @media (min-width: 100rem) {
    --flex-direction: row;
    --grid-template-columns: 1fr 1fr 1fr;
    --experience-span: 3;
  }
}

body {
  font-size: var(--font-text);
  font-family: var(--font-family);
  background-color: var(--color-backround);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

/* this h4 styling is currently shared on skills and jobs */
h4 {
  font-size: var(--font-h4);
  color: var(--color-accent-lightyellow);
}
