/*css reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

:root {
  /*This defines what 1rem is. To convert from pixel to rem, divide by 10. Aka 32px=3.2rem.*/
  font-size: 62.5%;

  --font-family: "Cascadia Code", "Courier New";
  --font-text: 1.5rem;
  --font-h4: 2rem;
  --font-h3: 2rem;
  --font-h2: 2.5rem;
  --font-h1: 3.5rem;

  --color-text: white;
  --color-shadow: black;
  --color-primary: black; /*not used directly, only for mixing.*/
  --color-backround: color-mix(in srgb, var(--color-primary), transparent 25%);
  --color-primary-translucent: color-mix(
    in srgb,
    var(--color-primary),
    transparent 75%
  );

  /* accent colors obtained from default vs code theme */
  --color-accent-pink: #da70d6;
  --color-accent-darkyellow: #ffd700;
  --color-accent-gold: #d7ba7d;
  --color-accent-lightyellow: #dcdcaa;
  --color-accent-salmon: #ce9178;
  --color-accent-lightblue: #9cdcfe;
  --color-accent-yellowgreen: #b5cea8;
  --color-accent-teal: #4ec9b0;

  --border-radius: 1rem;

  :has(.lightMode) {
    /*this class is set on the header component*/
    /* overwrite certain values */
    --color-text: black;
    @media screen {
      --color-shadow: silver;
    }
    --color-primary: #c8c8c8; /*not used directly, only for mixing.*/
    --color-backround: white;
    --color-primary-translucent: color-mix(
      in srgb,
      var(--color-primary),
      transparent 75%
    );

    --color-accent-pink: brown;
    --color-accent-darkyellow: #3c3c3c;
    --color-accent-gold: brown;
    --color-accent-lightyellow: brown;
    --color-accent-salmon: darkgreen;
    --color-accent-lightblue: #3c3c3c;
    --color-accent-yellowgreen: #3c3c3c;
    --color-accent-teal: navy;
  }

  /*default settings (I developed the site on 1/2 of my screen)*/
  --flex-direction: column;
  --app-grid: 1fr;
  --app-grid-gap: 3rem;
  --education-grid: 1fr 1fr 2fr 1fr;
  --experience-span: 1;
  --page-width: 75vw;
  --page-margin: 3rem;
  --main-padding: 2rem;
  --company-card-padding: 1rem;
  --job-card-padding: 1rem;
  --header-padding: 5rem;
  --skill-column-count: 3;

  /*wide desktop*/
  @media screen and (min-width: 110rem) {
    --flex-direction: row;
    --app-grid: 1fr 1fr 1fr;
    --experience-span: 3;
  }

  /*mobile*/
  @media screen and (max-width: 50rem) {
    --page-width: 100%; /* I don't know why 100vw is not working here */
    --page-margin: 0rem;
    --main-padding: 0rem;
    --company-card-padding: 0;
    --border-radius: 0;
    --job-card-padding: 0;
    --education-grid: 2fr 2fr;
    --skill-column-count: 2;
  }

  @media print {
    .themeButton {
      visibility: hidden;
    }
    --page-width: 100%; /* I don't know why 100vw is not working here */
    --page-margin: 0rem;
    --color-shadow: white;
    --header-padding: 2rem;
    --app-grid-gap: 0;
    --main-padding: 0;
  }
}

body {
  font-size: var(--font-text);
  font-family: var(--font-family);
  background-color: var(--color-backround);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

/* this h4 styling is currently shared on skills and jobs */
h4 {
  font-size: var(--font-h4);
  color: var(--color-accent-lightyellow);
}
